################################################################################
{{ data['title'] }}
################################################################################

.. container:: desc

   {{ data['desc'] }}

.. container:: info

   {% set collections = data['collections'] %}
   {% if collections %}

   .. container:: collections

      Belongs to

   {% for col in collections %}

      * :doc:`/{{ col }}`

   {% endfor %}
   {% endif %}

   .. container:: docs

      .. raw:: html

         <p><a href="{{ data['url'] }}" target="_blank">docs</a></p>

{% for example in data['examples'] %}
{# EXAMPLE #}

********************************************************************************
{{ example.name }}
********************************************************************************

{# EXAMPLE TAGS #}
{% set tags = example.tags %}
{% if tags %}

.. container:: tags

{% for tag in tags %}

   * {{ tag }}

{% endfor %}
{% endif %}
{# .EXAMPLE TAGS #}

.. container:: desc

   {{ example.desc }}

{# EXAMPLE SNIPPET RENDERABLE IN THE DOCUMENT #}
{% if example.source %}

.. container:: snippet

   .. container:: source

      ::

         {% for line in example.source.split('\n') %}
         {{ line -}}
         {% endfor %}
   
   .. container:: result
   
      {% for line in example.source.split('\n') %}
      {{ line -}}
      {% endfor %}

{% endif %}
{# .EXAMPLE SNIPPET RENDERABLE IN THE DOCUMENT#}

{# EXAMPLE SNIPPET TO OPEN IN NEW DOCUMENT #}
{% set source_file = example.source_file %}
{% if source_file %}

.. container:: snippet

   .. container:: source

      .. include:: {{ source_file }}.rst
         :literal:

   .. container:: result-in-new-window
      
      :doc:`open example <{{ source_file }}>`

      
      {#
      just a idea how to display output HTML as iframe

      .. raw:: html
         
         <iframe src="..{{ source_file }}.html">
            To see the example result, your browser must support IFRAMEs.
         </iframe>
      #}

{% endif %}
{# .EXAMPLE SNIPPET TO OPEN IN NEW DOCUMENT #}

{% if example.more %}
{{ example.more }}
{% endif %}

{# .EXAMPLE #}
{% endfor %}
