################################################################################
{{ data['title'] }}
################################################################################

.. container:: desc

   {{ data['desc'] }}

.. container:: info

   {% set collections = data['collections'] %}
   {% if collections %}

   .. container:: collections

      Belongs to

   {% for col in collections %}

      * :doc:`/{{ col }}`

   {% endfor %}
   {% endif %}

   .. container:: docs

      .. raw:: html

         <p><a href="{{ data['url'] }}" target="_blank">docs</a></p>

{% for example in data['examples'] %}
{# EXAMPLE #}

********************************************************************************
{{ example.name }}
********************************************************************************

{# EXAMPLE TAGS #}
{% set tags = example.tags %}
{% if tags %}

.. container:: tags

{% for tag in tags %}

   * {{ tag }}

{% endfor %}
{% endif %}
{# .EXAMPLE TAGS #}

.. container:: desc

   {{ example.desc }}

{# EXAMPLE SNIPPET #}
{% if example.source %}

.. container:: snippet

   .. container:: source

      ::

         {% for line in example.source.split('\n') %}
         {{ line -}}
         {% endfor %}

   .. container:: result
      
      {% for line in example.source.split('\n') %}
      {{ line -}}
      {% endfor %}

{% endif %}
{# EXAMPLE SNIPPET #}

{% if example.more %}
{{ example.more }}
{% endif %}

{# .EXAMPLE #}
{% endfor %}
