{% extends "!layout.html" %}

{% block navbarmenu %}
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="https://documatt.com">Documatt</a>
            <a class="navbar-item" href="https://snippets.documatt.com">Snippets</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-active" href="https://restructuredtext.documatt.com">
                    reStructuredText
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://techwriter.documatt.com">
                        Tech writer blog
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock navbarmenu %}

{% block coverrightcolumn %}
    <a href="https://twitter.com/documattcom?ref_src=twsrc%5Etfw"
       class="twitter-follow-button" data-show-count="false">Follow us</a>
    <script async src="https://platform.twitter.com/widgets.js"
            charset="utf-8"></script>
{% endblock %}

{% block rightsidebar %}
    <div class="mb-5"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>

    {{ super() }}
{% endblock %}
