.. container:: snippet

   .. container:: source

      ::

         {% for line in data['source'].split('\n') %}
         {{ line -}}
         {% endfor %}

   .. container:: result
      
      {% for line in data['source'].split('\n') %}
      {{ line -}}
      {% endfor %}