/* Snippet source and result displayed as columns */
.snippet {
  display: flex;
}

.snippet .source,
.snippet .result,
.snippet .result-in-new-window {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  width: 50%;
}

/* Bad code examples */

.bad [class^="highlight"] {
  border-color: red;
  background-color: #f5e4e4;
  position: relative;
}

.bad [class^="highlight"]::after {
  content: "x";
  position: absolute;
  right: 1em;
  top: 1em;
}

/* Maximally wide main content */
.wy-nav-content {
  max-width: initial;
}

/* :sup: in headings show as tags */
h1 sup,
h2 sup,
h3 sup,
h4 sup,
h5 sup,
h6 sup {
  background-color: yellowgreen;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 0.5em;
  font-weight: normal;
}
